/*============================================================
 Theme Name: web123-child
 Theme URI: http://www.web123.com.au
 Author: http://www.web123.com.au
 Author URI:
 Version: 1.4
 Description:
 Template: web123
 Text Domain: web123
 ============================================================*/
@font-face {font-family: 'Edo';src: url('fonts/edo.ttf') format('truetype');font-weight: normal;font-style: normal;}
/*Header Style*/
ul#menu-header-top-menu li a:hover {color: #e5e5e5!important;}
.header_top {padding: 5px 0px;}
.header_top #searchform {background: #fff;border-radius: 3px;}
ul#menu-header-top-menu li {border-right: 1px solid #358ff7;padding-right: 30px;}
ul#menu-header-top-menu li:last-child {border-right: 0px solid #358ff7;padding-right: 0px;}
ul#menu-header-top-menu li a {font-weight: 400;font-size: 13px;}
.header_top p {font-size: 13px!important;}
.header-widget p {margin:0;}
p {margin: 1em 0px;}
/*Slider Section*/
.banner-overlay-wrap h3 {font-family: 'Edo';color: white;font-size: 43px;line-height: 54px;text-align: center;margin: 0;font-weight: 200;}
.banner-overlay-wrap h1 {  font-family: 'Edo';  color: white;  font-size: 114px;  text-align: center;  text-transform: uppercase;  margin: 0;  font-weight: 200;  line-height: 120px;  }
.content-wrap {text-align: center;color: white;font-size: 20px;}
.content-wrap p {color: white;font-size: 20px;}
.content-wrap h5 {color: white;font-size: 29px;}
.booking-request-form {}
.booking-request-form .vc_col-sm-2 {padding-top:80%;}
.wpcf7 form.wpcf7-form p {margin-bottom: 10px;}
.form_header {background: #3d74b8;    padding: 30px 20px 10px 20px;    text-align: center;}
.form_header p {color:#b4c0d0;margin-bottom: 10px!important;}
.form_header h3 {color:#fff; text-transform: none;font-size: 22px; line-height: 34px;}
.form-body {padding:25px;background:#fff;}
.form-body input{    background: #f6f6f6!important;padding: 9px!important; margin-bottom: 10px!important; border: 1px groove rgba(255, 255, 255, 0.48)!important;font-size: 16px!important;font-family: sans-serif!important;}
.cfinfo {color: #fff;width: 153px;font-size: 12px;line-height: 21px;margin-left: -61px;display: block;}
.form-body select {background: #f6f6f6!important;padding: 9px!important; margin-bottom: 10px!important; border: 1px groove rgba(255, 255, 255, 0.48)!important;font-size: 16px!important;font-family: sans-serif!important;}
.form-footer {	background: #e7e7e7;    	padding: 25px;    padding-bottom: 55px;}
.form-footer input[type="submit"] {background: #ff8a00!important;border: none!important;color: #fff!important;font-family: sans-serif;font-size: 16px;font-weight: normal;text-transform: none;}
.course-id, .course-date {position: relative;display: block;}
.course-date select {background: #fff!important;}
.course-id::before, .course-date::before {content: '\f0d7';font-family: FontAwesome,sans-serif;color: #55acb2;position: absolute;font-size: 25px;right: 10px;top: 7px;z-index: 1;pointer-events: none;}
.course-date::before {content: '\f073';top: 6px;}
.footer-text {font-size: 13px;}
.footer-text i {color: #55acb2;}
.cfinfo span {background: url(images/arrow-circular.png) no-repeat;display: block;width: 80%;background-position: right;height: 61px;}
.pstyle1 p {font-size: 18px;line-height: 30px;text-align: left;font-weight: 300;}
.pstyle1 a {font-weight: bold;}
figcaption {background: #e5e5e5;text-align: center;font-size: 14px;}
.pstyle4 {font-size: 17px; line-height: 24px; color: #333;}
.cta1in {background-color: #e7e7e7;margin: 6px;padding: 10px 10px 0px 10px;height: 80px;}
.cta1in .vc_col-sm-4 {text-align: left; padding: 0;}
.cta1in .vc_col-sm-4 img {width: 98px;}
.cta1in .vc_col-sm-8 a {font-size: 18px;line-height: 26px;padding-top: 10%;display: block;}
.cta1in .vc_col-sm-8 a i {padding-left: 5px;}
/*WOOCOMMERCE THUMBNAIL*/
.woocommerce ul.products li.product .image-wrapper {width: 193px;height: 215px;margin: 0px auto;border: 10px solid #f7f7f7;padding: 10px;vertical-align: middle;display: table-cell;}
.woocommerce ul.products li.product h6 {text-align: left;border-bottom: 1px solid rgba(128,128,128,0.57);margin-bottom: 5px;font-size: 16px;text-transform: none;line-height: 22px;color: #094ba2;padding-bottom: 5px;}
.woocommerce ul.products li.product .price {display: block;margin: 0 0 16px;text-align: left;font-size: 16px;color: #00338f;font-family: Arial;font-weight: 400;line-height: 23px;}
.woocommerce-loop-category__title {font-size:16px;}
/*HEART SMART SECTION*/
.hstyle2 h3 {color: #ffff;font-size: 36px;line-height: 48px;}
.hstyle2 h1 {font-size: 48px;line-height: 36px;color: #fff;}
.pstyle2 p {font-size: 16px;line-height: 25px;text-align: left;font-weight: 400;color:#fff;}
.bgback p {font-size: 19px;line-height: 28px;color: #707070;}
.partnership p {text-align: center;color: #808080;font-size: 16px;}
.pstyle3 p{font-size: 16px;line-height: 25px;text-align: center;font-weight: 400;color:#fff;}
/*Contact Form*/
.cf7_custom_style_3 {width: 60%;}
.cf7_custom_style_3 p label {width: 25%;display: inline-block;vertical-align: top;padding-top: 15px;}
.cf7_custom_style_3 p span {width: 73%;display: inline-block;overflow: hidden;}
.cf7_custom_style_3 p span input {border: 1px solid #a1a1a1!important;padding: 5px 5px!important;height: 42px;}
.cf7_custom_style_3 p span textarea {border: 1px solid #a1a1a1!important;padding: 5px 5px!important;}
/*Footer Style*/
.footer_top h5 {text-align:center;border-bottom: 1px solid #dedede;padding-bottom: 10px;margin-bottom: 15px;}
.footer_top .quote {background: url(images/icon-quote-start.png), url(images/icon-quote-end.png);background-repeat: no-repeat;background-position: top left, bottom right;margin: 0 -33px;padding: 10px 35px;text-align: justify;}
.footer_top .name {color: black;font-size: 19px !important;padding-top: 25px;text-align: center;font-weight: bold;}
ul#menu-footer-menu a {font-size: 12px;line-height: 17px;color: #a1a1a1;letter-spacing: 0;text-transform: none;}
.footer_bottom ul li {display: inline-block;margin-right: 10px;}
.footer_bottom .footer_text_title {display: inline-block;color: #a1a1a1;font-size: 12px;font-weight: 400;}
.footer_bottom img {position: relative;top: 14px;left:2px;}
/* vehicle first add list view */
.restock-form-wrap {padding-bottom: 35px;}
.restock-form-wrap ul {margin: 0 !important;padding: 0 !important;list-style-type: none;}
.restock-form-wrap .header.row {background-color: #4074b8;padding: 15px 0;}
.restock-form-wrap .row {width: 100%;}
.restock-form-wrap li {display: inline-block;min-width: 100px;vertical-align: middle;}
.restock-form-wrap .header.row * {color: white;}
.restock-product-list *:not(.header) {color: #555555;font-size: 18px;}
.restock-form-wrap li.add a{color:#fff;}
.restock-form-wrap .name {width: calc( 100% - 414px );}
.restock-product-list .item img {width: 50px;}
.restock-form-wrap li.price {width: auto;float: none;}
.restock-form-wrap .row li:not(.name) div {text-align: center;}
.restock-form-wrap li.add div {padding-left: 15px;}
.restock-product-list .row .name div {padding-left: 15px;}
.restock-form-wrap .row:not(.header) {padding: 20px 0;border-bottom: 1px solid rgba(128, 128, 128, 0.36);cursor: pointer;}
/* vehicle first add list view */
/*package product*/
.changeimage .imgt {width: 75px;height: 75px;border: 1px solid #ccc;padding: 5px;margin: 10px 5px;display: inline-block;vertical-align: middle;}
.bgprice {background-color: #d9dfe7;padding: 40px 30px;border-radius: 4px;}
.bgprice h4 {font-weight: 400!important;}
.coursediv .learnpaybutton a:first-child, .bgprice .singleaddenqbutton a:first-child, .viewdetailscategory {padding: 6px 15px;background: #19479a;color: #fff;margin-left: 3px;border-radius: 3px;font-size: 12px;}
.coursediv .learnpaybutton a:last-child, .bgprice .singleaddenqbutton a:last-child {padding: 5px 22px;background: #fff;color: #19479a;border: 1px solid #19479a;margin-left: 3px;border-radius: 3px;font-size: 12px;}
.pckpro1 {}
.pckpro1 h6 {font-size: 16px;line-height: 22px;text-transform: none;margin-bottom: 20px;color: #00285c;}
.pckpro1 ul {padding-left: 30px}











