/*============================================================

    Theme Name: web123-child

    Theme URI: http://www.web123.com.au

    Author: http://www.web123.com.au

    Author URI:

    Version: 1.0

    Description:

    Template: web123

    Text Domain: web123

============================================================*/

@import url('href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,700,800"');
@font-face {
    font-family: 'edo';
    src: url('../../../wp-content/themes/web123-child/build/fonts/edo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.header_inner_right{
	display:none;
}
/*# sourceMappingURL=style.css.map */

/*.title_outer{
    display:none;
}*/

body {
    overflow: hidden !important;
}

.content {
    margin-top: 0px !important;
}

.content,
.content .container,
.full_width {
    background-color: #fff;
}

.boxed .section .section_inner,
.grid_section .section_inner,
.container_inner {
    width: 1000px;
}

a {
    color: #094ba2;
}

strong, strong a{
    font-weight: 700;
}
.home .heartsection p {
    color: #fff;
}

p {
    margin: 1em 0;
    color: #333333;
    line-height: 1.4;
}

h1 {
    color: #00285c;
}

h2,
h3 {
    text-transform: capitalize;
}

h3,
h4 {
    color: #00285c;
    margin: 20px 0;
}

nav.main_menu > ul > li > a {
    padding: 0 12px;
    font-weight: 600;
    color: #1865c9 !important;
    font-size: 15px;
}

.footer_top h5 {
    color: #3f3f3f;
    font-size: 24px;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 1px solid #dedede;
    padding-bottom: 14px;
}

.footer_top .column3 .quote {
    background: url(../../../wp-content/uploads/2017/07/icon-quote-start.png), url(../../../wp-content/uploads/2017/07/icon-quote-end.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    //margin: 0 -33px;
    padding: 10px 30px;
    text-align: left;
}

.footer_top .alignleft {
    margin: 20px 0px 0px 0px;
}

.footer_top .column3 .name {
    color: black;
    font-family: Lato-Bold;
    font-size: 19px !important;
    padding-top: 25px;
    text-align: center;
}

.footer_top_holder {
    background-color: #fff;
}
.footer_custom_bottom{    
    background-color: #073f89;
    min-height: 100px;
}
.web123_footer{
    width: 990px;
    margin: 0 auto;   
    padding: 10px 0;    
}
.leftblock {
    width: 20%;
    float: left;
}
.t115-footer div, .t115-footer a {
    text-decoration: none;
    font-size: 12px;
    color: #a1a1a1;
}
.t115-footer-menu {
    float: right;
    width: 80%;
}
.t115-footer-menu .copyright {
    margin-bottom: 3px;
    text-align: right;
}
.footer-nav{
    text-align: right;
}
.t115-footer-menu .footer-nav a {
    margin-right: 10px;
    color: #818181;
}

.bannerimage {
    background-image: url(../../../wp-content/uploads/2017/07/1558161.jpg);
    background-position: 100%;
    width: 100% !important;
    background-repeat: no-repeat !important;
    //background-size: cover !important;
}
.q_logo img {
    top: -62% !important;
    border-right: 3px solid #cdcdcd;
    left: -25px;
}
.home .bannerimage {
    height: 550px !important;
    background-position: 40% 100%;
}

.bannerimage {
    height: 350px !important;
}

.homefirstleft h3 {
    color: #094ba2;
    font-size: 48px;
    line-height: 48px;
    text-transform: capitalize;
    margin:0;
}

.homefirstleft h2 {
    color: #094ba2;
    font-size: 67px;
    line-height: 55px;
    text-transform: capitalize;
}

.middlecontent h3 {
    font-size: 24px;
    margin: 20px 0;
}

.homefirstright .content-wrap,
.homefirstright .cta-wrap {
    font-size: 18px;
    line-height: 30px;
    color: #333333;
}

.middlecontent .content-wrap {
    color: #444444;
    min-height: 75px;
    line-height: 1.4;
    border-bottom: 1px solid rgba(128, 128, 128, 0.57);
}

.middlecontent .cta-wrap {
    padding: 15px 0;
    font-weight: bold;
}

.middlecontent .cta-wrap a {
    background: url(../../../wp-content/uploads/2017/07/icon-arrow-blue.png) right top 5px no-repeat;
    padding-right: 15px;
    font-size: 16px;
}

.middlecontent .cta-wrap1 a {
    background: #094ba2 url(../../../wp-content/uploads/2017/07/icon-arrow-white.png) right 10px center no-repeat;
    color: white;
    padding: 9px 40px 9px 30px;
    border-radius: 3px;
    font-weight: bold;
}
.middlecontent img{
    height: 180px;
}

#buy-online h3, #buy-online h4 {   
    font-size: 26px;
    line-height: 38px;
    color: #094ba2;
    margin: 0;
}
#buy-online h3 {
    font-size: 64px;
    line-height: 62px;
}

#buy-online .cta-wrap {
    float: right;
    margin-top: -87px;
    background: #e7e7e7 url(../../../wp-content/uploads/2017/07/first-aid.png) left 8px top 8px no-repeat;
    background-size: 96px;
    padding: 30px 20px 30px 120px;
}
#buy-online .cta-wrap a {
    color: #094ba2;    
    font-size: 18px;
    background: url(../../../wp-content/uploads/2017/07/icon-arrow-blue.png) right center no-repeat;
    background-size: 8px;
    padding: 0 20px;
}

#columncutom .section_inner_margin .vc_column_container {
    border-right: 1px solid #fff;
}
#columncutom .section_inner_margin .vc_column_container:last-child{
    border: none;
}
.home #buy-online .woocommerce ul.products li.product .top-product-section {   
    border: 7px solid #f7f7f7;
}

#buy-online .products img, .home #buy-online .woocommerce ul.products li.product .image-wrapper img {
    height: 170px;
}
.heartsection .hearttop,
.heartsection .heartbottom {
    color: white;
    font-size: 36px;
    margin: 0;
    line-height: 36px;
}

.heartsection .heartbottom {
    font-size: 48px;
}

.heartsection {
    color: #fff;
}

.heartsectionmidcontent {
    width: 250px;
    margin: 20px auto;
    line-height: 20px;
}

.heartrightsection {
    color: #707070;
    font-size: 19px;
}

.es-larger {
    font-size: 120%;
    color: #333333;
}

.cta-wrap2 a {
    background: #0aaab0 url(../../../wp-content/uploads/2017/07/icon-arrow-white.png) right 10px center no-repeat;
    color: white;
    padding: 9px 40px 9px 30px;
    border-radius: 3px;
    font-weight: bold;
}

.partnershiptext {
    color: #808080;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    margin: 25px 0 50px 0;
}

.bgback .vc_column-inner {
    height: 550px;
    padding: 80px 20px;
}

.header_custom_top {
    height: 60px;
    color: #fff;
    /*position: fixed;*/
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 100, 217, 0.84) 60px, white 0);
    z-index: 9999;
}

.header_custom_top nav {
    width: 1000px;
    margin: 0 auto;
}

.header_custom_top nav ul li {
    width: auto;
    float: left;
    list-style-type: none;
    padding: 3px 20px;
    border-right: 2px groove rgba(255, 255, 255, 0.28);
    margin: 15px 0;
}

.header_custom_top nav ul li:last-child {
    border: none;
}

.header_custom_top a {
    color: #fff;
}

.header_custom_top nav ul li a:after {
    content: '>';
    color: #fff;
    padding-left: 15px;
}

.custom_search {
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    top: 10px;
    margin-left: -28px;
}

.customsearchform input {
    padding: 10px;
    margin: 3px 0;
    border-radius: 3px;
    border: none;
    width: 120px;
    font-size: 14px;
}

.customsearchform {
    position: relative;
    width: 20%;
    float: left;
    margin: 10px 0;
}

.custom_top_info {
    width: 500px;
    float: right;
    height: 46px;
}

.custom_top_info span .woocommerce-Price-amount {
    float: right;
    margin-left: -13px;
}

.custom_top_info span {
    float: left;
    margin-left: 15px;
    line-height: 45px;
}

.custom_top_info span.fifth {
    margin-top: 8px;
}

.custom_top_info span.fourth {
    margin-top: 5px;
}

.custom_top_info div {
    float: left;
    margin-left: 15px;
}

.custom_top_info div.sixth p:first-child {
    color: #585858;
    margin: 0;
}

.custom_top_info div.sixth p:last-child {
    color: black;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}

nav.main_menu ul li a {
    line-height: 36px;
}

.custom_inner {
    background-color: #ececec;
}

.banner-overlay-wrap {
    padding-top: 100px;
    width: 63%;
    float: left;
}

.home .banner-overlay-wrap {
    padding-top: 100px;
}

.banner-overlay-wrap h3 {
    font-family: Edo;
    color: white;
    font-size: 54px;
    line-height: 0px;
    text-align: center;
    margin: 0;
}

.banner-overlay-wrap h1 {
    font-family: Edo;
    color: white;
    font-size: 114px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.banner-overlay-wrap .content-wrap {
    padding: 60px 0 35px;
    text-align: center;
    margin: 0 auto;
    display: none;
}

.home .banner-overlay-wrap .content-wrap,
.home .banner-overlay-wrap img {
    display: table;
}

.banner-overlay-wrap .content-wrap p {
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 0px;
    margin: 0px;
}

.banner-overlay-wrap h5 {
    color: white;
    font-size: 29px;
    margin: 12px;
}

.banner-overlay-wrap img {
    margin: 0 auto;
    display: none;
}

.restockmiddle .i001-list-image {
    margin-top: 15px;
}

.restockmiddle .i001-list-image a {
    font-size: 16px;
}

.restockmiddle img {
    border: 4px solid #eee;
    padding: 3px;
}

.restockmiddle .wpb_text_column {
    padding: 0 15px 15px 15px;
}

.restockmiddle .i001-list-wrap a {
    background: #00338f;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 12px;
}

.restockmiddle .i001-list-wrap p:first-child {
    line-height: 1.4;
    min-height: 110px;
}

.coursediv {
    width: 46%;
    margin: 40px 0px 0 25px;
    float: left;
}

.coursediv .learnpaybutton a:first-child,
.bgprice .singleaddenqbutton a:first-child,
.viewdetailscategory {
    padding: 6px 15px;
    background: #19479a;
    color: #fff;
    margin-left: 3px;
    border-radius: 3px;
    font-size: 12px;
}

.coursediv .learnpaybutton a:last-child,
.bgprice .singleaddenqbutton a:last-child {
    padding: 6px 22px;
    background: #fff;
    color: #19479a;
    border: 1px solid #19479a;
    margin-left: 3px;
    border-radius: 3px;
    font-size: 12px;
}

.coursetitle {
    min-height: 70px;
}

p.learnpaybutton {
    margin-bottom: 10px !important;
}

.courseclear {
    clear: both;
}

.post-149.product,
.post-142.product {
    display: none;
}

.price {
    width: 50%;
    float: left;
}

.aedclass a {
    color: #00338f;
}

.changeimage img {
    width: 150px;
    height: 130px;
}

.bgprice {
    background-color: #d9dfe7;
    padding: 25px;
}

p.categorydesc {
    margin: 0 0 0px 0;
    line-height: 1.5;
    padding: 4px 0 9px 9px;
    background: #f5f5f5;
}

.viewdetailscategory {
    margin-left: 0;
}

.viewdetailscategory:hover {
    color: #fff;
}

.woocommerce-loop-category__title {
    color: #00338f;
    font-size: 16px;
    padding-left: 9px;
    background: #f5f5f5;
}

.viewdiv {
    padding-left: 9px;
    background: #f5f5f5;
    padding-bottom: 9px;
}

li.product-category.product {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

.archive.post-type-archive-product .title_outer {
    display: none;
}

.shoptitle {
    margin: 50px 0 35px;
}

.title .title_holder .container {
    display: block;
}

.tax-product_tag.archive .title_holder h1 {
    font-size: 30px;
    color: #00285c;
    text-transform: capitalize;
}

.tax-product_tag.archive .title_holder {
    height: 20px !important;
}

.tax-product_tag.archive .title_size_small {
    height: 100px !important;
}


/******* Contact form 7 css **************/

.wpcf7 .wpcf7-form label {
    width: 120px;
    float: left;
}

.wpcf7 .wpcf7-form span input,
.wpcf7 .wpcf7-form textarea {
    width: 400px;
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.0784314);
    font-size: 13px;
    font-family: inherit;
    height: 40px;
    padding: 0px 10px;
}

.wpcf7 .wpcf7-form textarea {
    height: 200px;
}

.wpcf7 .wpcf7-form span input:focus {
    border: 1px solid rgba(0, 0, 0, 0.0784314);
}

.wpcf7 .wpcf7-form input.wpcf7-form-control.wpcf7-submit {
    padding: 6px 15px;
    background: #19479a;
    color: #fff;
    margin-left: 120px;
    border-radius: 3px;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    border: 1px solid #000;
    text-transform: capitalize;
    letter-spacing: 0px;
}

.homepageform {
    width: 24%;
    float: left;
    color: #fff;
    display: none;
}

.home .homepageform {
    display: block;
}

.homepageform .form-header {
    color: #fff;
    background-color: #4074b8;
    text-align: center;
    color: #b4c0d0;
    padding: 25px 15px 1px 15px;
    pointer-events: auto;
}

.form-header h3 {
    color: #fff;
    font-size: 24px;
}

.columns-4 ul.products li.product {
    margin-right: 1.4% !important;
}


/********* Woocommerce css ****************/


/*

.woocommerce ul.products li.product .add-to-cart-button, .woocommerce ul.products li.product .added_to_cart, .woocommerce ul.products li.product a.qbutton.out-of-stock-button{

    visibility: visible;

    opacity: 1;

    margin-top: 0px;

    margin-left: 0px;

    vertical-align: baseline;

    border: none;

    padding: 0;

}

.woocommerce ul.products li.product .add-to-cart-button-outer{

    position: relative;

    top: 0;

    margin-left: 0px;

    width: 30%;

}

/*.woocommerce ul.products li.product{

    position: relative;

}*/


/*.woocommerce ul.products li.product h6{

    border-bottom: 1px solid #d2d2d2;

    padding-bottom: 10px;

    margin-bottom: 15px;

}*/


/*

.woocommerce ul.products li.product, .woocommerce ul.products li.product a.product-category, .woocommerce-page ul.products li.product a.product-category{

    height: auto;

}

.woocommerce ul.products li.product .top-product-section{

    height: 290px;

}

.product-category.product-info.customcontent {    

    border-top: 7px solid #f7f7f7;

    padding: 12px;

    position: relative;

    bottom: -40px;

    background: #ffffff;

    overflow: hidden;

}

.woocommerce-loop-category__title mark{

    display: none;

}

/************** End Wocommerce css  ******************/

@media only screen and (min-width: 1000px) {
    .admin-bar header.fixed,
    .admin-bar header.sticky.sticky_animate {
        padding-top: 92px!important;
    }
    .catloop img {
        width: 230px;
        height: 200px;
    }
}

.noShow {
    position: fixed;
    bottom: -1000rem;
    right: -1000rem;
}

.booking-request-form {
    max-width: 450px;
}

.form-footer .footer-text {
    //display: none;
}

.booking-request-form .form-body {
    background: white;
    padding: 30px 20px;
    pointer-events: auto;
    height: 232px;
}

.booking-request-form .form-body input,
.booking-request-form .form-body select {
    width: 90%;
    padding: 10px 10px;
    margin-bottom: 10px;
    border: 1px groove rgba(255, 255, 255, 0.48);
    background-color: #f6f6f6;
}

.booking-request-form .form-body select {
    width: 98%;
}

.booking-request-form .cms-dropdown {
    background: url('../../../wp-content/uploads/2017/07/icon-dropdown.png') no-repeat;
    background-position: right 8px center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 22px !important;
}

.booking-request-form .course_dates.cms-dropdown {
    background: url('../../../wp-content/uploads/2017/07/icon-calendar.png') center right 5px no-repeat;
    background-size: 23px;
}

.booking-request-form label,
.booking-request-form select {
    font-family: Lato-Regular !important;
    font-size: 16px !important;
    padding: 7px 0 0 10px !important;
    color: #555555;
}

.booking-request-form select {
    padding: 6px 0 8px 6px !important;
}

.booking-request-form .date-picker:before {
    content: 'Date';
    color: #555555;
    background-color: #ebebeb;
    position: absolute;
    margin: 1px;
    width: 75px;
    height: 30px;
    z-index: 1;
    text-align: center;
    padding-top: 4px;
}

.booking-request-form .date-picker > div:after {
    content: '';
    width: 27px;
    height: 27px;
    background: url('../../../wp-content/uploads/2017/07/icon-calendar.png') no-repeat;
    background-size: contain;
    position: absolute;
    margin: 4px 15px;
}

.booking-request-form .date-picker label {
    padding: 7px 0 0 90px !important;
}

.booking-request-form .date-picker input {
    padding-left: 35%;
    width: 45%;
    color: #555555;
}

.booking-request-form .form-footer {
    text-align: center;
    pointer-events: auto;
    background-color: #e7e7e7;
    padding: 25px;
}

.booking-request-form .form-footer input {
    background-color: #ff8a00;
    color: white;
    font-size: 21px;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.style-booking-button input {
    background-color: #ff8a00 !important;
    background-image: none !important;
    border-color: #ff8a00 !important;
}

.booking-request-form .form-footer p {
    color: black;
    background: url('../../../wp-content/uploads/2017/07/icon-tick-circle.png') left center no-repeat;
    background-size: contain;
    margin-left: -5px;
    padding: 2px 0 2px 25px;
}

.ui-datepicker-title {
    color: white !important;
}

.ui-datepicker-year {
    margin-left: 5px !important;
}


/* booking request form end */