

a.enquiry_button1 {
    border: 2px solid #297ddf;
    padding: 5px;
    background: #4473c5;
    color: #fff;
    font-weight: 700;
    font-size: 11px;
    margin-top: 8px;
    border-radius: 5px;
}